/*
Base document style
*/

html
{
    font-family: Helvetica, Arial, _sans;
    font-size: 100%;
}

body
{
    background-color: #fff;
}

/*
Styles for color selector
*/

a
{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    display: block;
    font-size: 0;
    height: 2rem;
    overflow: hidden;
    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    width: 2rem;
}

nav
{
    position: absolute;
}

/*
Styles for the clock itself
*/

#WordClock
{
    background-color: #000;
    color: #ccc;
    display: table;
    margin: auto;
    padding: 5em;
    vertical-align: middle;
}

#WordClock > *
{
    display:table-row;
}

#WordClock > * > *
{
    display: table-cell;
    font-size: 1.4rem;
    padding: 0.6rem;
    text-align: center;
    width: 1.4rem;
}

#WordClock > * > *.on
{
    color: #fff;
/*    text-shadow: 0 0 0.8rem #666, 0 0 0.2rem #666, 0 0 0.2rem #999;*/ /* 6710886, 10066329: 0.4, 0.6 */
}
