/*
Base document style
*/

*
{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html
{
    font-family: Helvetica, Arial, _sans;
    font-size: 100%;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

header
{
    margin-right: 1rem;
    position: absolute;
    right: 0;
    top: .5em;
    text-align: center;
}

header a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    padding: .1em .5em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: .8rem;
}


/*
Styles for color selector
*/

nav
{
    position: absolute;
    left: 0;
    height: 100%;
    display: table;
    width: 1.25rem;
}

nav a
{
    border-right: 1px solid rgba(255,255,255,.5);
    display: table-row;
    direction: ltr;
    text-indent: -999em;
    overflow: hidden;
    font-size: 0;
    width: 10px;
    position: relative;
}

nav a:after {
    content: attr(title);
    font-size: 10px;
    color: white;
    position: absolute;
    width: 100px;
    letter-spacing: -1px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
    width: 1rem;
    left: 0;
    text-align: center;
    text-indent: -5rem;

}

/*
Styles for the clock itself
*/

#WordClock
{
    background-color: #000;
    color: #ccc;
    display: table;
    margin: auto;
    width: 100%;
    padding: 5% 15%;
    vertical-align: middle;
}

#WordClock > section
{
    display:table-row;
}

#WordClock > section > div
{
    display: table-cell;
    font-size: 1.4rem;
    padding: 0.6rem;
    text-align: center;
    /* width: 1.4rem; */
}

#WordClock .on
{
    color: #fff;
/*    text-shadow: 0 0 0.8rem #666, 0 0 0.2rem #666, 0 0 0.2rem #999;*/ /* 6710886, 10066329: 0.4, 0.6 */
}
